<div class="d-flex align-items-start profile-feed-item">
  <div class="ml-4">
    <h6>
      Willie Stanley
      <small class="ml-4 text-muted"><i class="fa fa-clock-o"></i>10 hours</small>
      <small class="ml-4 text-muted" style="margin-left: 40%"><i class="fa fa-heart-o" aria-hidden="true"></i></small>
    </h6>

    <img src="https://bootdey.com/img/Content/avatar/avatar$6.png" alt="sample" class="rounded mw-100">
    <p class="small text-muted mt-2 mb-0">
                          <span>
                            <i class="fa fa-thumbs-up"></i>4
                          </span>
      <span class="ml-2">
                            <i class="fa fa-comments"></i>11
                          </span>
      <span class="ml-2">
                            <i class="fa fa-share"></i>
                          </span>
    </p>
  </div>
</div>
