<div class="profile-timeline">
    <ul class="list-unstyled">
        <li class="timeline-item">
            <div class="card card-white grid-margin">
                <div class="card-body">
                    <div class="timeline-item-header">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
                        <p>
                            {{ post.poster.username }} <span>{{ post.domaine }}</span>
                        </p>
                        <small>3 hours ago</small>
                    </div>
                    <div class="timeline-item-post">
                        <p>
                            {{ post.content }}
                        </p>
                        <div class="timeline-options">
                            <a (click)="like()"><i class="fa fa-thumbs-up"></i> Like
                {{ likes.length }}
              </a>
                            <a><i class="fa fa-comment"></i> Comment </a>
                            <a><i class="fa fa-heart-o"></i> follow </a>
                            <a (click)="open(mymodal1)"><i class="fa fa-envelope-o"></i> email </a>

                        </div>
                        <app-single-cmnt *ngFor="let comment of comments" [comment]="comment" (ondeleteCmtE)="deleteComnt(comment)">
                        </app-single-cmnt>
                        <textarea class="form-control" placeholder="Replay" [(ngModel)]="cmt"></textarea>
                        <button class="btn btn-success" (click)="comment()">
              <i class="fa fa-comment"></i> Comment
            </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<ng-template #mymodal1 let-modal >
    <div class="modal-header" style="width: 500px !important;">
      <h4 class="modal-title" id="modal-basic-title">Editer Categorie</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <!--begin form-->
    <div class="modal-body" style="width: 750px !important;" >
      <div class="container">
        <!-- Account page navigation-->
        <div class="row">
          <div class="col-lg-8" >
            <!-- Change password card-->
            <div class="card lg" >
              <div class="card-body" >
                <form   novalidate>
                  <div class="mb-3">
                    <label class="small mb-4" for="name" >sujet</label>
                    <input class="form-control" id="name" type="text"  name="name"  placeholder="taper le sujet"  required>
                  </div>
                  <div class="mb-3">

                    <label class="small mb-1" for="text">text</label>
                    <textarea id="text" name="text"
                    rows="5" cols="33">

          </textarea>
                  </div>

                  <button class="btn btn-primary" type="submit" >Enregistrer</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end form-->
  </ng-template>

